<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

<div class="card" style="max-width:500px;margin:auto;">
    <h2>Reset Password</h2>

    {% if error %}
    <p style="color:#d9534f; font-weight:600;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input type="text" name="username" placeholder="Enter username" required>
        <br><br>
        <input type="password" name="password" placeholder="New password" required>
        <br><br>
        <button type="submit">Reset</button>
    </form>

    <br>
    <a href="/login">Back to Login</a>
</div>

</body>
</html>
